extends ./layout/index

block content
	main.container.mt-5 
		.row
			.col-md-5
				img(src="img/nosotros.jpg" alt="Nosotros" class="img-fluid")
			.col-md-7
				h1 #{pagina}
				blockquote Excepteur ut irure mollit exercitation aliqua aliqua ea anim. Ad consequat consequat ad aliquip fugiat veniam nulla eiusmod Lorem exercitation excepteur quis aliqua culpa. Incididunt qui consectetur dolore veniam sint. Nisi cupidatat eiusmod non eiusmod. Ea magna labore eu et enim cillum sint. Eiusmod eiusmod nostrud labore adipisicing.
				p Officia tempor cillum anim in fugiat deserunt nulla sunt reprehenderit do laboris sit. Ipsum magna ad ea mollit cillum sit laborum. Quis culpa aliquip exercitation dolore culpa nisi. Aute Lorem et sint aliquip velit enim ullamco velit. Duis aliqua do ut exercitation eu mollit qui adipisicing ipsum exercitation laboris.
				p Ad adipisicing eu labore ut sint ullamco. Commodo fugiat ullamco reprehenderit aliqua deserunt ex velit cillum ut culpa cupidatat labore non. Aute commodo in enim nisi minim reprehenderit aliquip elit adipisicing consectetur labore magna.
	.listado-iconos
		.container.mt-5.py-5.text-center 
			.row
				.col-md-4
					img(src="img/icono_seguridad.svg" alt="Ícono Seguridad" class="img-fluid mb-4")
					h2.mb-4 Seguridad 
					p Ad adipisicing eu labore ut sint ullamco. Commodo fugiat ullamco reprehenderit aliqua deserunt ex velit cillum ut culpa cupidatat labore non. Aute commodo in enim nisi minim reprehenderit aliquip elit adipisicing consectetur labore magna.
				.col-md-4
					img(src="img/icono_destinos.svg" alt="Ícono Destinos" class="img-fluid mb-4")
					h2.mb-4 Mejores Destinos 
					p Ad adipisicing eu labore ut sint ullamco. Commodo fugiat ullamco reprehenderit aliqua deserunt ex velit cillum ut culpa cupidatat labore non. Aute commodo in enim nisi minim reprehenderit aliquip elit adipisicing consectetur labore magna.
				.col-md-4
					img(src="img/icono_precios.svg" alt="Ícono Precios" class="img-fluid mb-4")
					h2.mb-4 Los Mejores Precios 
					p Ad adipisicing eu labore ut sint ullamco. Commodo fugiat ullamco reprehenderit aliqua deserunt ex velit cillum ut culpa cupidatat labore non. Aute commodo in enim nisi minim reprehenderit aliquip elit adipisicing consectetur labore magna.